@import 'normalize';
@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: $ff;
    font-weight: 300;
}

body {
    font: 300 1.6rem/1.5 $ff;
    color: $dark;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.section {
    padding: 110px 0;
    text-align: center;
    @include media(768px) {
        padding: 60px 0;
    }
    @include media(576px) {
        padding: 30px 0;
    }
    &--bg {
        color: $light;
        background-color: $brand;
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__wrap {
        padding: 30px 120px;
        @include media(768px) {
            padding: 30px 60px;
        } 
        @include media(576px) {
            padding: 30px;
        } 
        &--bordered {
            border: $b-width solid $dark;
            border-top: 0;
            position: relative;
            padding-top: 0;
            @include media(576px) {
                border: none;
                padding: 0;
            }
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 25%;
                border-top: $b-width solid $dark;
                @include media(576px) {
                    border: none;
                }
            }
            &::before {
                left: -$b-width;
            }
            &::after {
                right: -$b-width;
            }
            .section--bg & {
                border-color: $light;
                &::before, 
                &::after {
                    content: '';
                    border-color: $light;
                }
            }
        }
    }
    &__title,
    &__subtitle {
        text-transform: uppercase;
    }
    &__title {
        letter-spacing: .16em;
        .section__wrap--bordered & {
            transform: translate(0, -50%);
            padding: 0 20%;
            @include media(576px) {
                padding: 0;
                margin: 10px;
            }
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 1.5rem;
    }
}

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

    svg {
        @include media(576px) {
            width: 50px !important;
            height: 51px !important;
        }
    }
}

h1 {
    font-size: 5.4rem;
    @include media(768px) {
        font-size: 4.4rem;
    }
    @include media(576px) {
        font-size: 3.4rem;
    }
}

h2 {
    font-size: 3.4rem;
    @include media(576px) {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2rem;
    @include media(576px) {
        font-size: 1.8rem;
    }
}

.logo {
    &--light {
        stroke: $light;
        fill: $light; 
    }
    &--dark {
        stroke: $dark;
        fill: $dark;
    }
}

.scroll {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    fill: $light;
    @include media(768px) {
        bottom: 10px;
    }
    @include hover {
        fill: $dark;
    }
    svg {      
        @include media(576px) {
            width: 17px !important;
            height: 28px !important;
        }
    }    
}

.service {
    margin: 80px 0;
    @include media(576px) {
        margin: 20px 0;
    }
    &__title {
        text-transform: uppercase;
        margin: 30px 0;
        letter-spacing: .16em;
    }
    svg {
       fill: $dark; 
    }
}

.btn {
    text-transform: uppercase;
    outline: none;
    border: $b-width solid $dark;
    background-color: $dark;
    color: $light;
    padding: 20px;
    margin: 30px;
    font-weight: 400;
    letter-spacing: .16em;
    width: 400px;
    max-width: 60%;
    cursor: pointer;
    @include media(576px) {
        margin: 15px;
    }
    @include hover {
        color: $dark;
        background-color: $light;
    }
}

.copyright {
    margin-top: 110px;
    font-weight: 400;
    @include media(576px) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        vertical-align: middle;
        margin-left: 30px;
        @include media(576px) {
            margin: 30px 0;
        }
    }
    svg {
        vertical-align: middle;
    }
}

.portfolio {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: repeat(2, 230px); 
    grid-gap: 10px;
    @include media(768px) {    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 230px); 
    }
    @include media(576px) {
        display: block;
    }
    &__item {
        position: relative;
        overflow: hidden;
        @include media(576px) {
            height: 230px;
            margin: 10px 0;
        }
        @include hover {
            .portfolio__img {
                @include tr;
                transform: translate(-50%,-50%) scale(1.2);
            }
        }
    }
    &__img {
        @include pCenter;
        @include tr;
        min-width: 100%;
        min-height: 100%;
    }
    &__name {
        position: absolute;
        bottom: 40px;
        left: 15%;
        right: 15%;
        text-transform: uppercase;
        color: $light;
        font-size: 3.4rem;
        font-weight: 700;
        letter-spacing: .16em;
        @include media(1200px) {
            left: 10%;
            right: 10%;
            font-size: 2.4rem;
        }
    }
}